
.leftMenu {
	position: absolute;
	top: 25px;
	bottom: 25px;
	left: 25px;
	width: 200px;
	background-color: rgb(255, 255, 255);
}

.rightMenu {
	position: absolute;
	top: 25px;
	bottom: 25px;
	left: 250px;
	right: 25px;
}

.users {
	display: block;
	position: absolute;
	left: 5px;
	right: 5px;
	top: 50px;
	bottom: 5px;
	margin: 0px;
	overflow-y: scroll;
}

.users > span {
	word-wrap: break-word;
	display: block;
	user-select: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: 90%;
	background-color: white;
	opacity: 0.6;
}

.users > span[line=on] {
	background-color: #b0ffb0;
}

.users > span[line=you] {
	background-color: #fffdb7;
	opacity: 1;
}

.users > span:hover {
	opacity: 1;
}



textarea {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 0px;
	padding: 5px;
	resize: none; 
}

.sel {
	position: absolute;
	top: -16px;
	height: 35px;
	left: 0px;
	right: 0px;
	overflow-x: auto;
    overflow-y: hidden;
}

.close {
	display: block;
	width: 10px;
    height: 10px;
	background-image: url(../images/close.png);
	background-position: 0% 0%;
	background-size: 100% 200%;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
}

.close:hover {
	background-position: 0% -100%;
}


.sel > div {
	white-space: nowrap;
	cursor: default;
	position: relative;
	display: inline-block;	
	bottom: -5px;
	height: 20px;
	
	border: 1px solid grey;
	border-bottom: none;
	border-radius: 7px 7px 0px 0px;
	
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 5px;

	margin-left: -8px;
	
	background-color: #efefef;
	color: grey;
	transition-duration: 0.05s;
	white-space: nowrap;
}



.sel > div[selected=true] {
	z-index: 100;
	background-color: #ffffff;
	color: black;
	height: 25px;
	bottom: -1px;
}


.sel > div:first-child {
	margin-left: 0px;
	padding-right: 20px;
}

.chat {
	position: absolute;
	top: 15px;
	bottom: 110px;
	left: 0px;
	right: 0px;
	background-color: rgba(255,255,255,1);
	border: 1px solid grey;
}

.chat > div {
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 15px;
	overflow-y: auto;
	white-space: nowrap;
}

.chat > div[selected=true] {
	display: block;
}


.input {
	position: absolute;
	bottom: 0%;
	left: 0px;
	right: 0px;
	height: 100px;
	background-color: rgba(255,255,0,0.5);
}

#text1 {
	outline: none;
	border: 1px solid #808080;
	color: grey;
}

#text1:focus {
	outline: none;
	border: 1px solid black;
	color: black;
}

.twitToMe,.twitMe {
	background-color: rgba(255,0,0,0.05);
	/*position: relative;
	display: block;
	
	margin: 3px;
	padding: 3px;
	border-radius: 2px;
	word-wrap:break-word;
	width: auto;
	*/
}

.twitMe {
	background-color: rgba(0,0,255,0.05);
}